doctype html
html
	head
		title Chronometer
		link(rel='stylesheet',href='style.css',type='text/css')
		script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
		script(type='text/javascript', src='js/dist/easytimer.min.js')
		script(type='text/javascript', src='js/main.js')
	body
		div(id='chrono')
			div(class='values', id='chronometer', type='text', name='timetextarea', value='00:00:00')
				|0:00:00